body {
  margin: 20px auto 50px auto;
}

.status {
  display: none;
}

.final {
  display: none;
}

.size-menu {
  margin-right: 30px;
  font-size: 18px;
}

header {
  text-align: center;
  margin-bottom: 15px;
}

.menu {
  border: 1px dashed crimson;
  padding: 10px 0 10px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu p {
  font-size: 14px;
}

.menu {
  text-align: center;
}

h1 {
  /* width: 600px; */
  /* margin-right: 10px; */
  display: inline-block;
  font-size: 44px;
}

#logo {
  height: 200px;
  display: inline-block;
  /* float: right; */
}

.custom {
  margin-bottom: 25px;
}
