body {
  margin: 20px auto 50px auto;
}

.receipt {
  display: none;
}

header {
  text-align: center;
}

h1 {
  /* width: 600px; */
  /* margin-right: 10px; */
  display: inline-block;
  font-size: 44px;
}

#logo {
  height: 200px;
  display: inline-block;
  /* float: right; */
}

.custom {
  margin-bottom: 25px;
}
